<footer id="sticky-footer" class="py-4 bg-dark text-white">
   <div class="container text-center">
     <small>Copyright &copy; Rishabh Kejariwal, &copy; Akash Sharma, &copy; Tanmay Agrawal, &copy; Shreesh Srivastava, &copy; Ojas Bansal</small>
   </div>
 </footer>
